.transition {
background-color: green;
color: white;
padding: 1rem 2rem;

transition-duration: 200ms;
/*transition-delay: 1000ms; */
transition-property: scale;
transition-timing-function: ease-in-out;
}
.transition:hover {
background-color: greenyellow;
color: black;
scale: 1.1;
}
.transition:active {
    background-color: rgb(red, green, blue);
    color: white;
    scale: 0,9;
}
.hover-scale {
    transition: all 100ms ease-in-out;
}
.hover-scale:hover {
    scale: 1.02;
}
/* Animation Styling */
.animation-container {
width: 100px;
height: 100px;
background-color: blue
}

.ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

    animation-name: bouncing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}



@keyframes bouncing {
 0% {
    transform: translateY(0px);
 }
   
 95% {
    transform: translateY(80px);
    height: 20px;
 }
100% {
    transform: translateY(80px);
    height: 15px;
    transform: matrix3d();
}
}

.slidin-left {
    animation-name: slidin-left;
    animation-duration: 1000ms;
    --from-offset: -100vw;
}

@keyframes slidin-left {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }

}