.transition {
background-color: green;
color: white;
padding: 1rem 2rem;

transition-duration: 200ms;
/*transition-delay: 1000ms; */
transition-property: scale;
transition-timing-function: ease-in-out;
}
.transition:hover {
background-color: greenyellow;
color: black;
scale: 1.1;
}
.transition:active {
    background-color: rgb(red, green, blue);
    color: white;
    scale: 0,9;
}
.hover-scale {
    transition: all 100ms ease-in-out;
}
.hover-scale:hover {
    scale: 1.02;
}
/* Animation Styling */
.animation-container {
width: 100px;
height: 100px;
background-color: blue
}

.ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

    animation-name: bouncing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes bouncing {
 0% {
    transform: translateY(0px);
 }
    
100% {
    transform: translateY(80px)
}
}